{% extends 'base_dashboard.html' %}
{% load i18n %}

{% block title %}{% trans 'Void sale' %} | CashFlow{% endblock %}
{% block page_title %}{% trans 'Void sale' %}{% endblock %}
{% block page_subtitle %}{% trans 'Stock will be restored automatically and historical records will be preserved' %}{% endblock %}
{% block page_actions %}
  <a class="btn btn-light" href="{% url 'sale_detail' object.pk %}"><i class="icon-arrow-left"></i> {% trans 'Back to details' %}</a>
{% endblock %}

{% block content %}
  <div class="card card-rounded">
    <div class="card-body">
      <p>{% trans 'Are you sure you want to void sale' %} <strong>#{{ object.id }}</strong>? {% trans 'Stock will be restored automatically and the record will be kept.' %}</p>
      <form method="post" class="d-flex gap-2">
        {% csrf_token %}
        <button class="btn btn-danger text-white" type="submit"><i class="icon-trash"></i> {% trans 'Void sale' %}</button>
        <a class="btn btn-light" href="{% url 'sale_detail' object.pk %}">{% trans 'Cancel' %}</a>
      </form>
    </div>
  </div>
{% endblock %}
