{% extends 'base_dashboard.html' %}
{% load i18n core_numbers %}

{% block title %}{% trans 'Detalle de solicitud' %} | {{ asset.name }}{% endblock %}
{% block page_title %}{% trans 'Detalle de solicitud' %}{% endblock %}
{% block page_subtitle %}{{ asset.name }}{% endblock %}
{% block page_actions %}
  <a class="btn btn-light" href="{% url 'admin_actions' %}"><i class="icon-arrow-left"></i> {% trans 'Volver a acciones' %}</a>
{% endblock %}

{% block content %}
  <div class="card card-rounded">
    <div class="card-body">
      <h5 class="card-title mb-3">{{ reservation.asset.name }}</h5>
      <dl class="row mb-0">
        <dt class="col-sm-3">{% trans 'Usuario' %}</dt><dd class="col-sm-9">{{ reservation.user.username }}</dd>
        <dt class="col-sm-3">{% trans 'Inicio' %}</dt><dd class="col-sm-9">{{ reservation.start_at|date:'Y/m/d H:i' }}</dd>
        <dt class="col-sm-3">{% trans 'Fin' %}</dt><dd class="col-sm-9">{{ reservation.end_at|date:'Y/m/d H:i' }}</dd>
        <dt class="col-sm-3">{% trans 'Estado' %}</dt><dd class="col-sm-9">{{ reservation.get_status_display }}</dd>
        <dt class="col-sm-3">{% trans 'Cobrado' %}</dt><dd class="col-sm-9">€ {{ reservation.charged_amount|truncate_2 }}</dd>
        {% if reservation.rejection_reason %}<dt class="col-sm-3">{% trans 'Motivo rechazo' %}</dt><dd class="col-sm-9">{{ reservation.rejection_reason }}</dd>{% endif %}
      </dl>

      {% if reservation.status == 'pending' %}
        <div class="d-flex gap-2 mt-3 flex-wrap">
          <form method="post" action="{% url 'admin_asset_reservation_approve' reservation.id %}">
            {% csrf_token %}
            <button class="btn btn-success" type="submit">{% trans 'Aprobar' %}</button>
          </form>
          <form method="post" action="{% url 'admin_asset_reservation_reject' reservation.id %}" class="d-flex gap-2">
            {% csrf_token %}
            <input class="form-control" type="text" name="rejection_reason" placeholder="{% trans 'Motivo:' %}">
            <button class="btn btn-danger" type="submit">{% trans 'Rechazar' %}</button>
          </form>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
